<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width"/>
    <link href="{{ ASSET_PATH }}sqlsharper/css/site.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/assets/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title"><a href="/"><img src="/images/logo.png" alt="SQL Sharper logo"/></a></p>
        </div>
        <div class="float-right">
            <a href="https://x.com/CnSharpStudio" target="_blank" class="twitter-link">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- <a href="https://www.facebook.com/#" target="_blank" class="facebook-link">
                <i class="fab fa-facebook-f"></i>
            </a> -->
            <nav>
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    {% assign pages_list = site.pages| sort:"weight" %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}

                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="body">

    {{ content }}

</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; 2008 - {{ site.time | date: '%Y' }} SQL Sharper ™ ,Powered by 
                <a href="http://www.cnsharp.com">CnSharp Studio</a>
                
            </p>
        </div>
    </div>
</footer>
{% include JB/analytics %}
</body>
</html>
